<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO_NET.Properties.Settings.DX_EntityFrameworkDataConnectionString"
            connectionString="Data Source=KAMAL-PC\SQL2008;Initial Catalog=DX_EntityFrameworkData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>