<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Working_with_Columns_In_Code.Properties.Settings.DB_EFCF_DXApplication_Exercise_04ConnectionString"
            connectionString="Data Source=KAMAL-PC\SQL2008;Initial Catalog=DB_EFCF_DXApplication_Exercise_04;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>