<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="kamal-pc\sql2008.DB_EFCF_DXApplication_Exercise_04.dbo"
            connectionString="XpoProvider=MSSqlServer;data source=KAMAL-PC\SQL2008;integrated security=SSPI;initial catalog=DB_EFCF_DXApplication_Exercise_04" />
    </connectionStrings>
</configuration>